@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.codeStyle {
  font-size: 10px;
}

.fancy-bg1 {
  background-image: radial-gradient(
      circle 800px at 700px 200px,
      var(--plum3),
      transparent
    ),
    radial-gradient(
      circle 600px at calc(100% - 300px) 300px,
      var(--mint4),
      transparent
    ),
    radial-gradient(circle 800px at right center, var(--sky3), transparent),
    radial-gradient(circle 800px at right bottom, var(--sky1), transparent),
    radial-gradient(
      circle 800px at calc(50% - 600px) calc(100% - 100px),
      var(--indigo2),
      var(--pink2),
      transparent
    );
}

.dark .fancy-bg2 {
  background-image: radial-gradient(
      circle 800px at 700px 200px,
      var(--purple2),
      transparent
    ),
    radial-gradient(
      circle 600px at calc(100% - 300px) 300px,
      var(--mint1),
      transparent
    ),
    radial-gradient(circle 800px at right center, var(--violet1), transparent),
    radial-gradient(circle 800px at right bottom, var(--teal4), transparent),
    radial-gradient(
      circle 800px at calc(50% + 700px) calc(100% + 100px),
      /* var(--mint8), */ #5eead4,
      transparent
    ),
    radial-gradient(
      circle 800px at calc(50% - 600px) calc(100% - 100px),
      var(--crimson1),
      var(--violet3),
      transparent
    );
}

.animate-caret {
  animation-name: caret;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-iteration-count: 3;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0.14, 0, 0.16, 1);
}

@keyframes caret {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

input,
textarea {
  @apply caret-indigo-600 dark:caret-teal-400;
}

.shadow-box {
  box-shadow: 0 0 50px -12px rgba(208, 121, 249, 0.3);
}
.shadow-box2 {
  box-shadow: 0 0 50px -12px rgba(121, 247, 249, 0.3);
}

.input-shadow {
  --tw-shadow: 0px 1px 0px -1px var(--tw-shadow-color),
    0px 1px 1px -1px var(--tw-shadow-color),
    0px 1px 2px -1px var(--tw-shadow-color),
    0px 2px 4px -2px var(--tw-shadow-color),
    0px 3px 6px -3px var(--tw-shadow-color);
  --tw-shadow-colored: 0px 1px 0px -1px var(--tw-shadow-color),
    0px 1px 1px -1px var(--tw-shadow-color),
    0px 1px 2px -1px var(--tw-shadow-color),
    0px 2px 4px -2px var(--tw-shadow-color),
    0px 3px 6px -3px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.dark .input-shadow-glow::after {
  --tw-shadow: inset 0px 0px 0px 1px var(--tw-shadow-color),
    inset 0px 1px 0px var(--tw-shadow-color);
  --tw-shadow-colored: inset 0px 0px 0px 1px var(--tw-shadow-color),
    inset 0px 1px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.border {
  background-clip: padding-box;
}

.prose a:not(.not-prose) {
  @apply border-b border-dotted border-neutral-700 font-medium no-underline;
}

pre {
  @apply rounded-md bg-transparent text-sm text-white antialiased !important;
  line-height: 1.7 !important;
}

.code-small pre {
  @apply p-3 text-xs antialiased !important;
  line-height: 1.7 !important;
}

.code-small-md pre {
  @apply p-3 text-xs antialiased md:text-sm !important;
  line-height: 1.7 !important;
}

.token.plain {
  @apply text-white !important;
}

.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.function {
  @apply text-fuchsia-400 !important;
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.operator,
.token.pseudo-class,
.token.important {
  @apply text-cyan-400 !important;
}

.token.attr-value,
.token.class,
.token.string,
.token.number,
.token.unit,
.token.color {
  @apply text-lime-300 !important;
}

.token.punctuation,
.token.module,
.token.property {
  @apply text-sky-200 !important;
}

.token.atapply .token:not(.rule):not(.important) {
  color: inherit;
}

.language-shell .token:not(.comment) {
  color: inherit;
}

.language-css .token.function {
  color: inherit;
}

.token.comment {
  @apply text-neutral-400 !important;
}

.token.deleted:not(.prefix) {
  @apply relative -mx-4 block px-4 !important;
}

.token.deleted:not(.prefix)::after {
  content: "";
  @apply pointer-events-none absolute inset-0 block bg-rose-400 bg-opacity-25 !important;
}

.token.deleted.prefix {
  @apply select-none text-neutral-400 !important;
}

.token.inserted:not(.prefix) {
  @apply -mx-4 block bg-emerald-700 bg-opacity-50 px-4 !important;
}

.token.inserted.prefix {
  @apply select-none text-emerald-200 text-opacity-75 !important;
}
