@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

.fancy-bg2 {
  background-image: radial-gradient(
      circle 800px at 700px 200px,
      var(--plum3),
      transparent
    ),
    radial-gradient(
      circle 600px at calc(100% - 300px) 300px,
      var(--mint4),
      transparent
    ),
    radial-gradient(circle 800px at right center, var(--sky4), transparent),
    radial-gradient(circle 800px at right bottom, var(--sky1), transparent),
    radial-gradient(
      circle 800px at calc(50% - 600px) calc(100% - 100px),
      var(--pink4),
      var(--pink2),
      transparent
    );
}

.fancy-bg2 {
  background-image: radial-gradient(
      circle 800px at 700px 200px,
      var(--plum3),
      transparent
    ),
    radial-gradient(
      circle 600px at calc(100% - 300px) 300px,
      var(--mint4),
      transparent
    ),
    radial-gradient(circle 800px at right center, var(--sky3), transparent),
    radial-gradient(circle 800px at right bottom, var(--sky1), transparent),
    radial-gradient(
      circle 800px at calc(50% - 600px) calc(100% - 100px),
      var(--orange4),
      var(--pink2),
      transparent
    );
}
